{% extends 'core/panel.html' %}
{% load formclss %}

{% block title %}Ventas{% endblock %}


{% block content-panel %}
    <div class="py-4">
        <div class="row">
            <div class="col-7">
                <h4>Lista de productos</h4>
                <form class="d-flex flex-row justify-content-end gap-2 mb-3" action="." method="GET">
                    <input
                            type="text"
                            name="word"
                            placeholder="Buscar"
                            class="form-control"
                            value="{{ request.GET.word }}"/>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
                <div class="table-section">
                    <table class="table table-bordered table-sm table-fixed">
                        <thead>
                        <tr class="text-center border-bottom">
                            <th scope="col">Codigo</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Medidas</th>
                            <th scope="col">Precio (Bs)</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if productos %}
                            {% for producto in productos %}
                                <tr class="text-center">
                                    <td style="max-width: 200px">
                                        <small>{{ producto.codigo }}</small>
                                    </td>
                                    <td>
                                        <small>{{ producto.marca.nombre }}</small>
                                    </td>
                                    <td>
                                        <small>{{ producto.lugar.nombre }}</small>
                                    </td>
                                    <td>
                                        <small>{{ producto.cantidad_disponible }}</small>
                                    </td>
                                    <td>
                                        <small>{{ producto.medidas }}</small>
                                    </td>
                                    <td>
                                        <small>{{ producto.precio_unitario }}</small>
                                    </td>
                                    <td style="max-width: 150px">
                                        <form class="d-flex gap-2 justify-content-center"
                                              action="{% url 'ventas-add-producto' producto.pk %}"
                                              method="post">{% csrf_token %}
                                            <div class="col-6">
                                                {{ form_producto.cantidad|addclss:"form-control form-control-sm" }}
                                            </div>
                                            <button class="col-2 btn btn-success btn-sm text-white">+</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="text-center">
                                <td colspan="7">Sin datos disponibles
                                </th>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5">
                <div class="border">
                    {% include 'ventas/carrito.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}