{% load formclss %}

<div class="table-section">
    <form action="{% url 'compras-save' %}" method="POST">{% csrf_token %}
        <h4 class="mx-2 mt-2">Registrar Compra</h4>
        <div class="p-2 mb-3">
            {{ form_compra.proveedor|addclss:"form-control form-control-sm" }}
        </div>
        <table class="table table-borderless table-sm table-fixed">
            <thead>
            <tr class="text-center border-bottom">
                <th scope="col">
                    <small>Codigo</small>
                </th>
                <th scope="col">
                    <small>Cantidad</small>
                </th>
                <th scope="col">
                    <small>Precio Compra</small>
                </th>
                <th scope="col">
                    <small>Precio Venta</small>
                </th>
                <th scope="col">
                    <small>Subtotal</small>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if request.session.carrito_compra.items %}
                {% for key, value in request.session.carrito_compra.items %}
                    <tr class="text-center">
                        <td style="max-width: 200px;">
                            <small>{{ value.codigo }}</small>
                        </td>
                        <td>
                            <small>{{ value.cantidad }}</small>
                        </td>
                        <td>
                            <small>{{ value.precio_compra }}</small>
                        </td>
                        <td>
                            <small>{{ value.precio_venta }}</small>
                        </td>
                        <td>
                            <small>{{ value.acumulado }} Bs</small>
                        </td>
                        <td>
                            <a href="{% url 'compras-del-producto' value.producto_id %}"
                               class="btn btn-danger btn-sm text-white text-center">x</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="text-center">
                    <td colspan="6">Sin productos</td>
                </tr>
            {% endif %}
            <tr class="border-top">
                <th scope="row" class="text-center">
                    <small>Total:</small>
                </th>
                <td colspan="3"></td>
                <td class="text-center">
                    <small>{{ total_carrito_compra }} Bs</small>
                </td>
            </tr>
            </tbody>
        </table>
        {% if request.session.carrito_compra.items %}
            <div class="d-flex flex-row gap-2 p-2 border-top">
                <a href="{% url 'compras-clean' %}" class="btn btn-danger btn-sm flex-fill">Limpiar</a>
                <button type="submit" class="btn btn-primary btn-sm flex-fill">Registrar</button>
            </div>
        {% endif %}
    </form>
</div>