{% extends 'core/base.html' %}
{% load formclss %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-3">
            <h2 class="text-center mb-3">PeñaVal</h2>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    El usuario o contraseña no son validas, intentelo nuevamente.
                </div>
            {% endif %}

            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <!-- Email input -->
                <div class="mb-3">
                    <label class="form-label" for="id_username">{{ form.username.label_tag }}</label>
                    {{ form.username|addclss:"form-control" }}
                </div>

                <!-- Password input -->
                <div class="mb-3">
                    <label class="form-label" for="id_password">{{ form.password.label_tag }}</label>
                    {{ form.password|addclss:"form-control" }}
                </div>

                <!-- Submit button -->
                <div class="d-flex flex-row">
                    <button type="submit" class="flex-fill btn btn-primary mb-4">Iniciar Sesión</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}